<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.winter.app.member.MemberDAO">
  	<insert id="setJoin" parameterType="MemberDTO">
  		INSERT INTO MEMBER VALUES(#{userName},#{password},#{eMail},#{phone},#{address},#{name})
  	</insert>
  
  	<insert id="setFileJoin" parameterType="MemberFileDTO">
  		INSERT INTO AVATAR VALUES(NOTICE_SEQ.NEXTVAL,#{userName},#{fileName},#{oriName})
  	</insert>
  
  	<select id="getDetail" parameterType="MemberDTO" resultMap="getDetailResult">
  		SELECT * FROM MEMBER
  		LEFT OUTER JOIN AVATAR
  		USING (USERNAME)
  		WHERE USERNAME = #{userName}
  	</select>
  
  	<resultMap type="MemberDTO" id="getDetailResult">
  	<id column="USERNAME" property="userName" />
  	<result column="PASSWORD" property="password" />
  	<result column="EMAIL" property="eMail" />
  	<result column="PHONE" property="phone" />
  	<result column="ADDRESS" property="address" />
  	<result column="NAME" property="name" />
  	<association property="fileDTO" javaType="MemberFileDTO" >
  		<id column="FILENUM" property="fileNum"/>
  		<result column="FILENAME" property="fileName" />
  		<result column="ORINAME" property="oriName" />
  	</association>
  	</resultMap>
  
  	<update id="setUpdate" parameterType="MemberDTO">
  		UPDATE MEMBER <set>
  		 <if test="password !='' ">PASSWORD = #{password},</if>
  		 <if test="email !='' "> EMAIL=#{eMail}, </if>
  		 <if test="name != '' "> NAME=#{name}, </if>
  		 <if test="phone != '' "> PHONE =#{phone}, </if>
  		 <if test="address != '' "> ADDRESS=#{address} </if>
  		</set>
  		WHERE USERNAME = #{userName}
  	</update>
  
  </mapper>