<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.winter.app.board.notice.NoticeDAO">
  
  	<select id="getList" parameterType="pager" resultType="NoticeDTO">
  		SELECT * FROM NOTICE
  		ORDER BY NOTICE_NUM DESC
  	</select>	
  
  	<select id="getDetail" parameterType="BoardDTO" resultMap="getFileDetail" >
  		SELECT * FROM NOTICE
	LEFT OUTER JOIN
	NOTICEFILES
	USING (NOTICE_NUM)
	WHERE NOTICE_NUM = #{notice_Num}
  	</select>
  	
  	<insert id="setFileAdd" parameterType="BoardFileDTO">
  		INSERT INTO NOTICEFILES VALUES(NOTICE_SEQ.NEXTVAL,#{noitce_Num},#{fileName},#{oriName})
  	</insert>
  	
  	
  	
  	<insert id="setAdd" parameterType="BoardDTO">
  		<selectKey  order="BEFORE">
  		
  		</selectKey>
  		INSERT INTO NOTICE 
  	</insert>
  	
  	<resultMap type="NoticeDTO" id="getFileDetail" >
  		<id column ="NOTICE_NUM" property="notice_Num"/>
  		<result column="NOTICE_WRITTER" property="notice_Writter" />
  		<result column="NOTICE_CONTENTS" property="notice_Contents"/>
  		<result column="NOTICE_TITLE" property="notice_Title"/>
  		<result column="NOTICE_VIEW" property="notice_View"/>
  		<result column="NOTICE_TIME" property="notice_Time"/>
  		<collection property="fileDTOs" javaType="List" ofType="BoardFileDTO">
  			<id column="FILENUM" property="fileNum" />
  			<result column="FILENAME" property="fileName"/>
  			<result column="ORINAME" property="oriName"/>
  			
  		</collection>
  	</resultMap>
  	
  </mapper>