<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- mapper의 namespace는 비우면 error  -->
  <mapper namespace="com.winter.app.product.ProductDAO">
  		
  		<sql id="search3">
  			WHERE 
  			<choose>
  				<when test="kind=='kind1'">
  					PRODUCTNAME LIKE '%'||#{search}||'%'
  				</when>
  				<when test="kind=='kind2'">
  					PRODUCTCONTENTS LIKE '%'||#{search}||'%'
  				</when>
  				<otherwise>
					PRODUCTRATE LIKE '%'||#{search}||'%'
  				</otherwise>
  			</choose>
  		
  		</sql>
  		
  		<sql id="search2">
  			<where>
  			<if test="kind=='kind1' or kind=='kind4'">
  			PRODUCTNAME LIKE '%'||#{search}||'%'
  			</if>
  			<if test="kind == 'kind2' or kind=='kind4'">
  			OR PRODUCTCONTENTS LIKE '%'||#{search}||'%'
			</if>
			<if test="kind=='kind3' or kind=='kind4'">
  			OR PRODUCTRATE LIKE '%'||#{search}||'%'
			</if>
			</where>
  		</sql>
  		
  		<sql id="search">
  			 WHERE PRODUCTNAME LIKE '%'||#{search}||'%'
  		</sql>
  
  		
  
  		<select id="list" resultType="ProductDTO" parameterType="Pager">
  			SELECT * FROM 
  			(SELECT ROWNUM R,RG.* FROM
  			(SELECT * FROM PRODUCT 
  			 <include refid="search2"></include>
  			 ORDER BY PRODUCTNUM DESC) RG)
  			 WHERE R BETWEEN #{start_num} AND #{last_num}
  			
  		</select>
  		
  		<select id="detail" resultType="ProductDTO" parameterType="ProductDTO">
  			SELECT * FROM PRODUCT WHERE PRODUCTNUM = #{productnum}
  		</select>
  		
  		<update id="update" parameterType="ProductDTO">
  			UPDATE PRODUCT SET PRODUCTNAME = #{productname} WHERE #{productnum}
  		</update>
  		
  		<insert id="add" parameterType="ProductDTO">
  			INSERT INTO PRODUCT VALUES(#{productnum},#{productname},#{productcontents},#{productrate},#{productjumsu} )
  		</insert>
  		
  		<delete id="delete" parameterType="ProductDTO">
  			DELETE PRODUCT WHERE #{productnum}
  		</delete>
  		
  		<select id="total" resultType="Integer" parameterType="Pager">
  			SELECT COUNT(PRODUCTNUM) FROM PRODUCT
  			<include refid="search2"></include>
  		</select>
  		
  </mapper>
  