<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.winter.app.board.qna.QnaDAO">
  
  	<select id="getList" resultType="QnaDTO" parameterType="Pager">
  	SELECT * FROM
  		(SELECT ROWNUM R, Q.* FROM
  		(SELECT * FROM QNA
  			ORDER BY NOTICE_NUM DESC) Q)  		
  	WHERE R BETWEEN #{start_num} AND #{last_num}
  	</select>
  
  </mapper>