<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.winter.app.board.qna.QnaDAO">
  
  	<select id="getList" resultType="BoardDTO" parameterType="Pager">
  	SELECT * FROM
  		(SELECT ROWNUM R, Q.* FROM
  		(SELECT * FROM QNA
  			ORDER BY NOTICE_NUM DESC) Q)  		
  	WHERE R BETWEEN #{start_num} AND #{last_num}
  	</select>
  	
  	<insert id="setAdd" parameterType="BoardDTO">
  		<selectKey keyProperty="notice_Num" order="BEFORE" resultType="Long">
  			SELECT QNA_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		INSERT INTO QNA (NOTICE_NUM,NOTICE_TITLE,NOTICE_WRITTER,NOTICE_CONTENTS,NOTICE_REF,NOTICE_STEP,NOTICE_DEPTH)
  		 VALUES (#{notice_Num},#{notice_Title},#{notice_Writter},#{notice_Contents},#{notice_Num},0,0)
  	</insert>
  	
  	<resultMap type="QnaDTO" id="QnaGetDetail">
  		<id column="NOTICE_NUM" property="notice_Num"></id>
  		<result column="NOTICE_TITLE" property="notice_Title"/>
  		<result column="NOTICE_CONTETNS" property="notice_Contents"/>
  		<result column="NOTICE_WRITTER" property="notice_Writter"/>
  		<result column="NOTICE_TIME" property="notice_Time"/>
  		<result column="NOTICE_VIEW" property="notice_View"/>
  		<result column="NOTICE_REF" property="notice_Ref"/>
  		<result column="NOTICE_STEP" property="notice_Step"/>
  		<result column="NOTICE_DEPTH" property="notice_Depth"/> 
  		<collection property="fileDTOs" javaType="List" ofType="BoardFileDTO">
  			<id column="FILENUM" property="fileNum"></id>
  			<result column="FILENAME" property="fileName"/>
  			<result column="ORINAME" property="oriName"/>
  		</collection>
  	
  	</resultMap>
  	
  	<select id="getDetail" resultMap="QnaGetDetail" parameterType="QnaDTO">
  		SELECT * FROM QNA
  		LEFT OUTER JOIN
  		QNAFILES
  		USING (NOTICE_NUM)
  		WHERE NOTICE_NUM = #{notice_Num}
  	</select>
  	
  </mapper>