<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.winter.app.wishlist.WishListDAO">
  	<insert id="setWishList" parameterType="WishListDTO">
  		INSERT INTO WISHLIST VALUES(#{productNum},#{userName}) 
  	</insert>
  	
  	<select id="getList" parameterType="WishListDTO" resultType="ProductDTO">
  		SELECT p.* FROM PRODUCT p
  			LEFT OUTER JOIN
  				(SELECT * FROM WISHLIST WHERE USERNAME = #{userName}) W
  			ON p.PRODUCTNUM = W.PRODUCTNUM
  		WHERE p.PRODUCTNUM = W.PRODUCTNUM
  		ORDER BY P.PRODUCTNUM ASC
  	</select>
  	
  	<delete id="setDelete" parameterType="WishListDTO">
  		DELETE WISHLIST WHERE USERNAME = #{userName} and PRODUCTNUM=#{productNum}
  	</delete>
  	
  </mapper>